


# Python Introduction 


This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing & Formatting
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets

____

## Data types

### Numbers


We'll learn about the following topics:

    1.) Types of Numbers in Python
    2.) Basic Arithmetic
    3.) Object Assignment in Python
    
    ## Types of numbers

Python has various "types" of numbers (numeric literals). We'll mainly focus on integers and floating point numbers.

Integers are just whole numbers, positive or negative. For example: 2 and -2 are examples of integers.

Floating point numbers in Python are notable because they have a decimal point in them, or use an exponential (e) to define the number. For example 2.0 and -2.1 are examples of floating point numbers. 4E2 (4 times 10 to the power of 2) is also an example of a floating point number in Python.

Throughout this course we will be mainly working with integers or simple float number types.

Here is a table of the two main types we will spend most of our time working with some examples:

<table>
<tr>
    <th>Examples</th> 
    <th>Number "Type"</th>
</tr>

<tr>
    <td>1,2,-5,1000</td>
    <td>Integers</td> 
</tr>

<tr>
    <td>1.2,-0.5,2e2,3E2</td> 
    <td>Floating-point numbers</td> 
</tr>
 </table>

In [1]:
2+3

5

In [2]:
10/2

5.0

In [3]:
4*5

20

2**

In [4]:
2**4

16

10%3

In [6]:
10%2

0

### Variable Assignment

In [7]:
# Can not start with number or special characters
first_name = 4

In [9]:
$first_name

SyntaxError: invalid syntax (<ipython-input-9-1c993899cea9>, line 1)

### Strings

Strings are used in Python to record text information, such as name. Strings in Python are actually a sequence, which basically means Python keeps track of every element in the string as a sequence. For example, Python understands the string "hello' to be a sequence of letters in a specific order. This means we will be able to use indexing to grab particular letters (like the first letter, or the last letter).

This idea of a sequence is an important one in Python and we will touch upon it later on in the future.

In this lecture we'll learn about the following:

1.) Creating Strings
2.) Printing Strings
3.) String Indexing and Slicing
4.) String Properties
5.) String Methods
6.) Print Formatting

In [10]:
' Sam is happy!'

' Sam is happy!'

In [11]:
"Sam is happy!"

'Sam is happy!'

In [14]:
"I don't like ice cream!"

"I don't like ice cream!"

### Printing & Formatting

In [15]:
x = 'hello world'

In [16]:
x

'hello world'

In [17]:
print(x)

hello world

In [19]:
num = 15
name = 'Jack'

In [20]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 15, and my name is: Jack

In [23]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 15, and my name is: Jack

In [24]:
s = 'hello'

In [25]:
s[0]

'h'

In [26]:
s[4]

'o'

In [27]:
s = 'abcdef'

In [28]:
s[0:]

'abcdef'

In [29]:
s[1:]

'bcdef'

In [30]:
s[2:4]

'cd'

### Lists

In [54]:
[2,4,6]

[2, 4, 6]

In [55]:
['yes',1,2,3]

['yes', 1, 2, 3]

In [56]:
my_list = ['b', 'c', 'd']

In [57]:
my_list

['b', 'c', 'd']

In [58]:
my_list.append('e')

In [59]:
my_list

['b', 'c', 'd', 'e']

In [60]:
my_list[0]

'b'

In [61]:
my_list[1]

'c'

In [62]:
my_list[1:]

['c', 'd', 'e']

In [63]:
my_list[1] = 'ok'

In [64]:
my_list

['b', 'ok', 'd', 'e']

In [67]:
nest = [1,2,3,[4,6]]

In [68]:
nest

[1, 2, 3, [4, 6]]

In [70]:
nest = [1,2,3,[4,5], ['ok']]

In [73]:
nest

[1, 2, 3, [4, 5], ['ok']]

In [74]:
nest[1]

2

### Dictionaries


We've been learning about sequences in Python but now we're going to switch gears and learn about mappings in Python. If you're familiar with other languages you can think of these Dictionaries as hash tables.

This section will serve as a brief introduction to dictionaries and consist of:

1.) Constructing a Dictionary
2.) Accessing objects from a dictionary
3.) Nesting Dictionaries
4.) Basic Dictionary Methods
So what are mappings? Mappings are a collection of objects that are stored by a key, unlike a sequence that stored objects by their relative position. This is an important distinction, since mappings won't retain order since they have objects defined by a key.

A Python dictionary consists of a key and then an associated value. That value can be almost any Python object.

Constructing a Dictionary
Let's see how we can construct dictionaries to get a better understanding of how they work!

In [76]:
d = { 'key1': 'item1', 'key2': 'item2'}

In [77]:
d

{'key1': 'item1', 'key2': 'item2'}

In [78]:
d['key1']

'item1'

In [79]:
d['key2']

'item2'

In [80]:
d = {'k1': [2,3,4]}

In [81]:
d

{'k1': [2, 3, 4]}

In [82]:
d['k1'][2]

4

### Booleans

In [31]:
True

True

In [32]:
False

False

In [33]:
2>3

False

In [34]:
2<3

True

In [35]:
1 == 1

True

1 == 2

In [36]:
1 == 2

False

In [37]:
'ok' == 'ok'

True

In [38]:
'ok' == 'no'

False

In [39]:
(1 > 2) and (2<3)

False

In [40]:
(1 > 2) or (2<3)

True

### Tuples

Tuples
In Python tuples are very similar to lists, however, unlike lists they are immutable meaning they can not be changed. You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar.

In this section, we will get a brief overview of the following:

1.) Constructing Tuples
2.) Basic Tuple Methods
3.) Immutability
4.) When to Use Tuples.

You'll have an intuition of how to use tuples based on what you've learned about lists. We can treat them very similarly with the major distinction being that tuples are immutable.

When to use Tuples
You may be wondering, "Why bother using tuples when they have fewer available methods?" To be honest, tuples are not used as often as lists in programming, but are used when immutability is necessary. If in your program you are passing around an object and need to make sure it does not get changed, then tuple become your solution. It provides a convenient source of data integrity.

You should now be able to create and use tuples in your programming as well as have an understanding of their immutability.

In [41]:
t = (1,2,3)

In [42]:
t[0]

1

In [43]:
my_list = [2,4,5]

In [44]:
my_list[0]

2

In [45]:
my_list[0] = 'ok'

In [46]:
my_list

['ok', 4, 5]

In [47]:
t[0] = 'ok'

TypeError: 'tuple' object does not support item assignment

 ## Sets

In [48]:
{1,2,4}

{1, 2, 4}

In [49]:
{1,1,2,2,3,3,4,4,5,5,6,6}

{1, 2, 3, 4, 5, 6}

In [51]:
s = {2,4,6}

In [52]:
s.add(5)

In [53]:
s

{2, 4, 5, 6}

## Well done!